@font-face {
  font-family: "Artegra";
  src: url("/fonts/Artegra/100.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Artegra";
  src: url("/fonts/Artegra/200.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Artegra";
  src: url("/fonts/Artegra/300.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Artegra";
  src: url("/fonts/Artegra/400.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Artegra";
  src: url("/fonts/Artegra/500.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Artegra";
  src: url("/fonts/Artegra/600.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Artegra";
  src: url("/fonts/Artegra/700.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Artegra";
  src: url("/fonts/Artegra/800.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Artegra";
  src: url("/fonts/Artegra/900.otf") format("opentype");
  font-weight: 900;
}
