@font-face {
  font-family: "SegoeUI";
  src: url("/fonts/SegoeUI/SegoeUI.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SegoeUI";
  src: url("/fonts/SegoeUI/SegoeUIBold.ttf") format("truetype");
  font-weight: 600;
}
