@font-face {
  font-family: "MeltowSan100";
  src: url("/fonts/Meltow/MeltowSan100-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MeltowSan200";
  src: url("/fonts/Meltow/MeltowSan200-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MeltowSan300";
  src: url("/fonts/Meltow/MeltowSan300-Regular.ttf") format("truetype");
}
