@layer base {
  :root {
    --scroll-bar-color: #3d3937;
    --scroll-bar-bg-color: transparent;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-black bg-opacity-50;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
  }
}
